# do not copy .env file to container image (vars are passed by docker-compose)
.env

# unnecessary files
.git
.venv
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
*.log

# Test files
test/

# Documentation
README.md
