# Database MySQL
DB_USER=root
DB_PASSWORD= # set a secure password
DB_HOST=localhost
DB_PORT=3306
DB_NAME=myapp_db

# JWT Security
SECRET_KEY= # generate with terminal cmd 'openssl rand -hex 32' 
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15

# REDIS 
REDIS_URL=redis://localhost:6379/0

# REFRESH TOKEN
REFRESH_TOKEN_EXPIRE_DAYS=7


# RESEND mail service 
RESEND_API_KEY= # register to https://resend.com, then copy/paste your API key
# test email, only works with email address used to register to https://resend.com 
RESEND_FROM=onboarding@resend.dev 
# password reset URL of your frontend app
PWD_RESET_URL=http://localhost:3000/reset-password  

# LOGGING
LOG_LEVEL=DEBUG 
# use INFO or ERROR in production